.navbar-nav {
    background-color: rgb(63, 76, 235);
}

.jumbo-image {
    background-image: url("../images/pexels-rahime-gül-19188465.jpg"); 
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
