.navbar-nav {
    background-color: rgb(63, 76, 235, 0.7);
}

.jumbo-image {
    background-image: url("../images/pexels-rahime-guÌˆl-19188465.jpg"); 
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumbo-image div {
    height: 500px;
}
/* 
.card-container {
    height: 150px !important;
} */

.card-container {
    background-color: rgb(63, 76, 235, 0.7);
}

.skills-card {
    background-color: rgb(250, 218, 211);
    padding: 4px;
}

.skills-container {
    width: 80% !important;
    background-color: rgb(141, 122, 213) !important;
}

